<!DOCTYPE html>
<html>
    <head>
        <title>Forget Password OTP Send</title>
        <link rel="stylesheet" href="frontend/css/register.css" type="text/css">
        <!--Favicon -->
    <link rel="icon" href="../../newImg/favicon.ico" type="Image/png">
    </head>
    <body>
        <div class="login-container">
          <img src="newImg/logoo.jpg" alt="" style="height: 90px; width: 120px;">
            <form class="login-form" action="/otp" method="post">
              <h1>Forget Password</h1>
              <p>Please enter your valid email</p>
              <h3><%= (typeof msg !=='undefined' ) ? msg : '' %></h3>
              <!-- <form action="/login" method="post"> -->
              <div class="input-group">
                <input type="email" id="email" name="email" placeholder="enter your email" required>
              </div>
              <button type="submit">send OTP</button>
            <!-- </form> -->
              <div class="bottom-text">
                <p><a href="/login">already login?</a></p>
              </div>
            </form>
          </div>
    </body>
</html>