<!DOCTYPE html>
<html>
    <head>
        <title>Forget Password</title>
        <link rel="stylesheet" href="frontend/css/register.css" type="text/css">
        <!--Favicon -->
    <link rel="icon" href="../../newImg/favicon.ico" type="Image/png">
    </head>
    <body>
        <div class="login-container">
          <img src="newImg/logoo.jpg" alt="" style="height: 90px; width: 120px;">
            <form class="login-form" action="/forget" method="post">
              <h1>Forget Password</h1>
              <p>enter your valid email</p>
              <h4><%= (typeof msg !=='undefined' ) ? msg : '' %></h3>
                <input hidden type="email" name="email" value="<%= (typeof mail !=='undefined' ) ? mail : '' %>">
              <div class="input-group">
                <input type="number" id="number" name="token" placeholder="enter valid OTP" required>
              </div>
              <div class="input-group">
                <input type="password" id="password" name="password" placeholder="enter your New Password" required>
              </div>
              <button type="submit">Change Password</button>
              <div class="bottom-text">
                <p><a href="/login">login now...</a></p>
              </div>
            </form>
          </div>
    </body>
</html>