<!--footer-->
<footer class="py-120">
    <div class="container">
        <div class="row">
            <div class="company-about">
                <a href="#"><img src="../../newImg/favicon.ico" alt="footer-logo"></a>
                <p>Our Car rental provide best service in our customer and alwase, and that beutifull journy</p>
                <div class="company-detail">
                    <ul>
                        <li>
                            <p>151 Simada Junction,surat 395010</p>
                        </li>
                        <li>    
                            <a href="tel:(+1) 500.369.2580">Call us <b>+88888-88888</b></a>
                        </li>
                        <li>
                            <a href="mailto:support@zentec.com">info@speedocarrental.in</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="company-support">
                <h3>OUR SERVICES</h3>
                <div class="company-link">
                    <ul>
                        <li>Airport Transfer</li>
                        <li>Business Transfer</li>
                        <li>Luxury Vehicles</li>
                        <li>Events & Wedding</li>
                        <li>Chauffeur Services  </li>
                    </ul>
                </div>
            </div>
            <div class="company-support">
                <h3>LINKS</h3>
                <div class="company-link">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li> <a href="/aboutUs">About us</a></li>
                        <li> <a href="/allCar">Popular Fleets</a></li>
                        <li><a href="/getContactUs">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="company-support">
                <h3>WHAT WE DO</h3>
                <div class="company-link">
                    <ul>
                        <li>View Help Topics</li>
                        <li>Latest Articles</li>
                        <li>Technology Consul</li>
                        <li>Terms Of Service</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div> 
            <div class="company-subscibe">
                <input type="email" name="email" placeholder="Email" class="form-input">
                <button type="submit" class="ssubmit"></button>
                <div class="company-updates">
                    <span>Get the latest news & updates</span>
                </div>    
                <div class="company-subscibe-icon">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-pinterest"></i>      
                </div>
            </div>
        </div>
    </div>
</footer>