 <!-- header -->
 <header>
    <!-- top-bar -->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="site-title">
                    <p>Book A Car And Enjoy Your Beautiful Journey</p>
                </div>
                <div class="site-details">
                    <ul>
                        <li>
                            <a href="tel:500.369.2580"><i class="fa-solid fa-phone"></i>+88888-88888</a>
                        </li>
                        <li>
                            <a href="mailto:info@zentec.com"><i class="fa-solid fa-envelope-open-text"></i> info@speedocarrental.in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu-Bar -->
    <div class="menu-bar">
        <div class="container">
            <div class="row ">
                <div class="logo">
                    <a href="#">
                        <img src="../../newImg/favicon.ico" alt="logo">
                    </a> 
                </div>
                <nav class="menu">
                    <ul>
                        <li class="home">
                            <a href="/home">Home</a>
                        </li>
                        <li class="aboutus">
                            <a href="/aboutus">About Us</a>
                        </li>   
                        <li class="booknow">
                            <a href="/getBooking">Book Now</a>
                        </li>
                        <li class="popular">
                            <a href="/allCar">Popular Fleets</a>
                        </li>
                        <li class="feedback">
                            <a href="/getFeedback">Feedback</a>
                        </li>
                        <li>
                            <a href="/getContactUs">Contact Us</a>
                        </li>
                        <li>
                            <a href="/invoice">invoice</a>
                        </li>
                        <li>
                            <div class="pl">
                                <a href="/profile">
                                    <i class="fa fa-user" style="font-size:19px;color:#08a0cf"></i>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="pl">
                                <a href="/logout">
                                    <i class="fa fa-sign-out" style="font-size:19px;color:rgb(141, 31, 31)"></i>
                                </a>
                            </div>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>