<!DOCTYPE html>
<html>

<head>
    <!-- page title -->
    <title>Speedo Car Rental | Services</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Font Awosome  -->
    <link rel="stylesheet" href="frontend/css/all.min.css" type="text/css">

    <!--Favicon -->
    <link rel="icon" href="../../newImg/favicon.ico" type="Image/png">

    <!-- Font Awosome  -->
    <link rel="stylesheet" href="frontend/css/stylesheet.css" type="text/css">

    <!--Owal Carousel css -->
    <link rel="stylesheet" href="frontend/css/owl.carousel.min.css" type="text/css">

    <!--Css Link  -->
    <link rel="stylesheet" href="frontend/css/Style.css" type="text/css">
    <link rel="stylesheet" href="frontend/css/paymodel.css" type="text/css">

    <!-- <link rel="stylesheet" href="/profile.css"> -->

</head>

<body>

    <!-- ============ HEADER =============== -->
    <%- include('./header.ejs')%>

        <!-- page content -->
        <main><%- body %></main>

        <!-- ============ FOOTER =============== -->
        <%- include('./footer.ejs')%>

            <!-- ============ SCRIPT ========== -->

</body>

</html>