
<input type="checkbox" id="menu-toggle">
   <!-- ============ SideBar ====================== -->
    <div class="sidebar">
        <div class="side-header">
            <h3>S<span>peedo Car</span></h3>
        </div>
        
        <div class="side-content">
            <div class="profile">
                <a href="/profile"> <div class="profile-img bg-img" style="background-image: url('../../newImg/favicon.ico')"></div></a>
                <h4>Admin</h4>
                <small>Speedo Car Rental</small>
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                       <a href="/admin" class="active">
                            <span class="las la-home"></span>
                            <small>Dashboard</small>
                        </a>
                    </li>
                    <li>
                       <a href="/allUser">
                            <!-- <span class="las la-user-alt"></span> -->
                            <span class="las la-user-friends"></span>
                            <small>Users</small>
                        </a>
                    </li>
                    <li>
                       <a href="/contactUs">
                            <span class="las la-envelope"></span>
                            <small>Contact</small>
                        </a>
                    </li>
                    <li>
                       <a href="/allFeedback">
                            <span class="las la-clipboard-list"></span>
                            <small>Feedback</small>
                        </a>
                    </li>
                    <li>
                       <a href="/booking">
                            <span class="las la-shopping-cart"></span>
                            <small>Booking</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-tasks"></span>
                            <small>Tasks</small>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>


        
 