<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Speedo Car Admin Dashboard</title>
    <link rel="stylesheet" href="/admin/style.css">
    <!--Favicon -->
    <link rel="icon" href="../../newImg/favicon.ico" type="Image/png">
    <!-- <link rel="stylesheet" href="/profile.css"> -->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>

<body>

    <!-- ============ HEADER =============== -->
    <%- include('./header.ejs')%>

        <!-- page content -->
        <main><%- body %></main>

    <!-- ============ FOOTER =============== -->


       <!-- ============ SCRIPT ========== -->
       <script type="application/javascript" src="admin/script/admin.js"></script>
       

</body>

</html>